{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewDatabase</title>
    <link rel="stylesheet" href="{% static 'viewDB.css'%}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://kit.fontawesome.com/d258feda9a.js" crossorigin="anonymous"></script>
</head>
<body class="bodyDB">
    <nav>
        <div class="nav-wrapper">
            <div class="logo">
                <a href="" class="icon-logo"><i class="fa-solid fa-virus-slash"></i>Classification</a>
            </div>
            <ul id="menu">
                <li><a href="/">Image Classifier</a></li>
                <li><a href="viewDatabase">Database</a></li>
                <li><a href="captureImage">Image Capture</a></li>
            </ul>
        </div>
    </nav>
    <!-- Menu Icon -->
    <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
    </div>

    <div class="overlay-menu">
        <ul id="menu">
            <li><a href="/">Image Classifier</a></li>
            <li><a href="viewDatabase" >Database</a></li>
            <li><a href="captureImage">Image Capture</a></li>
        </ul>
    </div>
    <div class="containerDB-wrapper">
        <div class="containerDB">
            <div class="title-DB">
                <h3>Browse by category</h3>
                <div class="buttons-category">
                    <button class="active"><i class="fa-solid fa-magnifying-glass"></i> Yellowing</button>
                    <button><i class="fa-solid fa-magnifying-glass"></i> Drying of Leaflets</button>
                </div>
            </div>
            <div class="listImages">
                 <!-- <h3>The list of uploaded images {{listofImagePath}} </h3> -->
                {% for i in listofImagePath %}
                <img class="responsive-img" src={{i}}> <br>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer>
        <p>Created by Jasper Villarosa. © 2023</p>
    </footer>

    <script src="{% static 'toggle.js' %}"></script>
    
</body>
</html>